body {
    font-family: cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;
    background: linear-gradient(to right,#00ff00,#ff0000);
}

.wrap {
    margin-top: 11em;
}

.curr {
    margin: 1em auto;
    text-transform: none;
    letter-spacing: 0.25em;
    border: 5px solid black;
    border-radius: 10em;
    padding: 0.5em;
    background-color: whitesmoke;
    width: 35em;
}

button {
    font-family: cursive;
    margin-top: 5em;
    border: 5px solid;
    border-radius: 10em;
    font-weight: 900;
    width: 8em;
    height: 3em;
}

